<ul class="ls">
  <h3> Examples </h3>
  <li routerLink="/simple-map">Simple Map</li>
  <li routerLink="/simple-circle">Simple Circle</li>
  <li routerLink="/simple-marker">Simple Marker</li>
  <li routerLink="/marker-ng-for">Marker With *ngFor</li>
  <li routerLink="/marker-with-custom-icon">Marker With Custom Icon</li>
  <li routerLink="/simple-info-window">Simple InfoWindow</li>
  <li routerLink="/multiple-map">Multiple Map</li>
  <li routerLink="/polygon">Polygon</li>
  <li routerLink="/map-with-options">Map With Options</li>
  <li routerLink="/map-with-streetview">Map With Streetview</li>
  <li routerLink="/map-change-multiple-properties">Change Multiple Properties Of Map</li>
  <li routerLink="/simple-polyline">Simple Polyline</li>
  <li routerLink="/simple-ground-overlay">Simple Ground Overlay</li>
  <li routerLink="/bicycling-layer">Bicycling Layer</li>
  <li routerLink="/traffic-layer">Traffic Layer</li>
  <li routerLink="/transit-layer">Transit Layer</li>
  <li routerLink="/heatmap-layer">Heatmap Layer</li>
  <li routerLink="/kml-layer">KML Layer</li>
  <li routerLink="/data-layer">Data Layer</li>
  <li routerLink="/street-view-panorama">Street View Panorama</li>
  <li routerLink="/places-auto-complete">Places Auto Complete</li>
  <li routerLink="/directions-renderer">Directions Renderer</li>
  <li routerLink="/drawing-manager">Drawing Manager</li>
  <li routerLink="/event-arguments">Event Arguments</li>
  <li routerLink="/custom-marker">Custom Marker</li>
  <li routerLink="/custom-marker-ng-for">Custom Marker *ngFor</li>
  <li routerLink="/experiment">Experiment</li>
</ul>
<router-outlet></router-outlet>
